# MongoDB
MONGO_ROOT_USERNAME=admin
MONGO_ROOT_PASSWORD=secret123
MONGO_DATABASE=bookstore_db

# This environment vairable is only necessary if you are not running the project with Docker Compose
MONGODB_URI=mongodb://admin:secret123@localhost:27017/bookstore_db?authSource=admin

# NestJS Application
PORT=3000
NODE_ENV=development
EXCHANGE_RATE_API_URL=https://api.exchangerate-api.com/v4/latest/USD